body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f4f4f9;
    font-size: 20px;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 0px;
    margin-bottom: 0px;
}

.data-container {
    background-color: rgba(255, 255, 255, 0.0);  /* Semi-transparent background */
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    padding: 0px; /* Reduced padding */
    max-width: auto;
    max-height: fit-content;
    padding-left: 5px;
    padding-top: 5px;
    

}

.data-container div {
    margin: 0px 0;  /* Further reduced margin between divs */
}

/* Styling for the Station ID */


/* Styling for Wind Gust */


.weather-station-container iframe{
    width: 100%;  /* Make iframe take full width of its container */
    height: 60px;  /* Fixed height for iframe */
    border: none;   /* Remove any border */
    margin: 0;      /* Remove margin */
    padding: 0;     /* Remove padding */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 0px; /* Space between iframes */
    align-items: center; /* Center iframes horizontally */
    margin-top: 0px;
}