body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 0px;
    margin-bottom: 0px;
}

.data-container {
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.0);  /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    padding: 0px; /* Reduced padding */
    max-width: 100px;
    margin: 0 auto;
}

.data-container div {
    margin: 0px 0;  /* Further reduced margin between divs */
    font-size: 20px;
}

/* Styling for the Station ID */
#stationID {
    font-size: 24px;  /* Slightly larger font */
    font-weight: bold;
    color: #2a5d84; /* Blue color */
}

/* Styling for Wind Gust */
#windGust {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c; /* Red color */
}

/* Add hover effects */
.data-container div:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
.weather-station-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 0px; /* Space between iframes */
    align-items: center; /* Center iframes horizontally */
    margin-top: 0px;
}
